body {
    background: rgb(45, 211, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 300px;
}

input {
    border: none;
}

input, button{
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}

button {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

.btnLimpo {
    background: transparent;
    border: none;
    color: white;
}

.btnEntrar {
    background: white;
    border: none;
}

.btnRegistrar {
    background: transparent;
    color:  white;
    border: 1px solid white;      
}